body {
	background-color: #191724;
	color: #e0def4;

	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
	gap: 12px;
	padding: 16px;

	font-family: sans-serif;
	font-size: 16px;
}

.table {
	div {
		background-color: #e0def4;
		color: #191724;
		font-weight: 600;

		border-radius: 2px;
		padding: 16px;
	}
	display: grid;
	gap: 4px;
	grid-template-columns: 1fr 1fr;

	max-width: 600px;
	border: 1px solid #191724;
}

.set-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;

	h2 {
		text-align: center;
		font-size: 24px;
		font-weight: 700;
	}

	border: 2px solid #e0def4;
	border-radius: 8px;
	padding: 12px;
	width: 100%;
}

.graph-wrapper > div {
	margin: 0 auto;
}
